    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <div class="container">
        <%= link_to "restaurant", root_path, id: "logo" %>
        <div id="item-right"> <!-- class="nav justify-content-end"-->
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-link"><%= link_to "Home",  root_path %></li>
                <li class="nav-link"><%= link_to "carte", root_path %></li>
                <li class="nav-link"><%= link_to "reservation", reservation_path %></li>
                    <p class="navbar-text pull-right">
                        <% if user_signed_in? %>
                        Logged in as <strong><%= current_user.email %></strong>.
                        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
                        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
                        <% else %>
                        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> 
                        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
                        <% end %>    
                      </p>
            </ul>
        </div>
    </div>
</nav>